<div id="gigArea"></div>
<style>
	body {
		background-color: #121f1f;
	}
	.arial {
		font-family: 'Arial';
		font-weight: bold;
		color: white;
	}
	.smaller {
		font-size: 12px;
		color: #b2b2b2;
	}
	.gig {
		width: 300px;
		/*border: 1px solid grey;*/
		/* height: 70px; */
		font-size: 16px;
		/*-size: 2.8vh;*/
		padding: 20px;
	}
	.cmn-t-bg {
		/*padding: 20px 20px;*/
		color: #fff;
		background-color: #2F4F4F;
		/* transition: background 0.2s; */
	}
	.cmn-t-bg:hover {
		color: #fff;
		background-color: #FF3232;
	}
	a, a:hover, a:active, a:visited { 
		color: white; 
		text-decoration: none;
		cursor: pointer;
	}
	.bottom {
		height: 30px;
		padding: 10px;
	}
	a.bottom {
		color: #FF3232;
		cursor: pointer;
	}
	img {
		width: 340px;
		padding-bottom: 10px;
	}
	/*thanks*/
	/*http://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html*/
	/*http://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html*/
	.containerdiv { float: left; position: relative; } 
	.cornerimage { position: absolute; top: 0; right: 0; }
	
	div.gig, div.bottom {
		float: left; position: relative;
	}
	break {
		float: left; position: relative;
	}
	img.logo {
		width: 200px;
		padding-bottom: 0;
	}
	.red {
		color: #FF3232;
	}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
	data = JSON.parse(<%= raw(@gigs.to_json) %>)
	data = data['resultsPage']['results']['event']
	console.log(data)
	profile_link = "https://www.songkick.com/users/" + '<%= @username %>'
	$('#gigArea').append("<h3 class='arial'>\u266B Recent concerts for <a target='_blank' href=" + profile_link + "><%= @username %></a></h3>")
	if (data)
	{
		for(i = 0; i < data.length; i++)
		{
			image_src = 'http://images.sk-static.com/images/media/profile_images/artists/' + data[i]['performance'][0]['artist']['id'] + '/card_avatar'
			$('#gigArea').append("<a href='" + data[i]['uri'] + "' target='_blank'><div class='gig arial cmn-t-bg'>"+data[i]['displayName']+"<p class='arial smaller'>" + data[i]['location']['city'] + "</p></div>")
			$('#gigArea').append("<a href='" + data[i]['uri'] + "' target='_blank'><div class='containerdiv'><img src=<%= image_url('microphone_by_alex_auda_samora_nounproject.png') %>><img class='cornerimage' src=" + image_src + "></div></a>")
		}
		$('#gigArea').append("<div class='bottom'><a target='_blank' class='arial red' style='color: #FF3232;' href='https://www.songkick.com/users/<%= @username %>/gigography'>See more on Songkick...</a><br><hr><img class='logo' src=<%= image_url('logo.png') %>><hr><a href='/' target='_blank' class='arial' style='color: #FF3232; padding-bottom: 10px'>Make your own!</a></div><br>")
	}
	else
	{
		$('#gigArea').append("<hr><p class='arial red'>User not found</p>")
	}
</script>
